{% extends "layout.html" %}

{% block body %}

<h2>Search For A Meal</h2>


<form action="{{ url_for('search') }}" method="post">
	<div class="container">
		<p>Use <strong>EasyCHEF!</strong> to help you find something to eat from your leftovers in your fridge or kitchen!</p><br>
		<p>Find me a meal with..</p>  <input type="text" name="ingredients" placeholder="Find me a meal with.." required>
		<button type="submit">Find Meal!</button>
	</div>
	<br>
	<br>
	<br>
	<div>
	<h3>Your meal, provided by <strong>EasyCHEF!</strong> is:</h3>
	<div>
		<p>{{ title }}</p><br>
		<p><img src="{{ image }}"><br>{{ title }}</p><br>
		{% for s in steps %}
		<ul>
			<li>{{ s['step'] }}</li>
		</ul>
		{% endfor %}
		<p>{{ duration }}</p><br>
		<p>You can find the <strong><a href="{{ url_source }}">full recipe here</a></strong> for a detailed menu.</p>
	</div>

	</div>
</form>
<br>
<br>
<br>



{% endblock %}